@import "tailwindcss";


/* Desktop (1440*832)По краям 80 пх  */
.main-container {
    max-width: 1440px;
    padding-left: 80px;
    padding-right: 80px;
    margin-left: auto;
    margin-right: auto;
}

@theme {
    --color-dove-gray: #636363;
    --color-concrete: #f2f2f2;
    --color-cornflower-blue: #7367FF;
    --color-royal-blue: #5B42DC;
  }